:root {
    --primario: #4D4A4A;
    --secundario: #48515E;
    --blanco: #ffffff;
    --resaltar: lightseagreen;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.5rem;
    color: var(--blanco);
    font-family: 'Source Code Pro', monospace;
}

a{
    text-decoration: none;
    color: black;
    color: var(--blanco);
}

h1, h2, .contenedor-redes{
    margin: 3rem 0;
}

h2{
    font-size: 4rem;
}

a:hover{
    color: var(--resaltar);
}
