:root {
    --primario: #4D4A4A;
    --secundario: #48515E;
    --blanco: #ffffff;
    --resaltar: lightseagreen;
    --invalid: lightcoral;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.5rem;
    color: var(--blanco);
    font-family: 'Source Code Pro', monospace;
    overflow: overlay;
}

a{
    text-decoration: none;
    color: black;
    color: var(--blanco);
}

h1, h2, .contenedor-redes{
    margin: 3rem 0;
}

h2{
    font-size: 4rem;
}

a:hover{
    color: var(--resaltar);
}

*::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;    /* Tamaño del scroll en horizontal */
}

*::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #777777;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--resaltar);
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
    background: transparent;
}

