#sobre-mi .contenedor__header{
    background-color: var(--secundario);
}

#sobre-mi .contenedor__principal{
    flex-direction: column;
    align-items: flex-start;
}

#sobre-mi p{
    font-size: 1.8rem;
}
