#contacto .contenedor__header{
    background-color: var(--secundario);
}

.contenedor__imagen img{  
    min-width: 100%;
    margin-top: 2rem;
}

.contenedor__formulario{
    width: 100%;
}

.formulario__contacto{
    display: flex;
    flex-direction: column;
}

.contenedor__input{
    margin-bottom: 1rem;
}

.contacto__label{
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    background-color: var(--primario);
    color: darkgray;
    padding: 0.8rem 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    transition: 500ms ease-in-out all;
}

.contacto__input{
    border: none;
    background-color: var(--primario);
    color: var(--blanco);
    margin-top: 0.7rem;
    width: 100%;
    font-size: 2rem;
}

.contacto__input:focus{
    outline: none;
}

.contacto__label:focus-within{
    border-bottom: 0.7rem solid var(--resaltar);
    color: var(--resaltar);
}

.contenedor__input textarea{
    min-height: 30rem;
}

.contacto__label__invalid{
    color: var(--invalid);
    border-bottom: 0.7rem solid var(--invalid);
}

.contacto__label__valid{
    color: var(--resaltar);
    border-bottom: 0.7rem solid var(--resaltar);
}

.contacto__a__invalid{
    color: var(--invalid);
}

.contacto__a__valid{
    color: var(--resaltar);
}

.input__message__error{
    display: none;
}

.input__container__invalid .input__message__error{
    color: var(--invalid);
    display: block;
    margin-top: 0.5rem;
}

.contacto__boton{
    background: var(--resaltar);
    border: none;
    color: var(--blanco);
    border-radius: 0.4rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    transition: 500ms ease-in-out all;
}

.contacto__boton:hover{
    background-color: rgb(32, 158, 152);
    border: 0.2rem solid var(--blanco);

}