#skill .contenedor__header h2{
    text-align: center;
}

#skill .contenedor__principal{
    justify-content: center;    
    gap: 6rem;
}

#skill .contenedor__tarjeta{
    min-width: 16rem;
    min-height: 16rem;
    background-color: var(--blanco);
}

.contenedor__tarjeta:hover{
    outline: 0.5rem solid var(--resaltar);
    fill: var(--resaltar);

}

.contenedor__tarjeta:hover p{
    color: var(--resaltar);
}

.contenedor__tarjeta svg{
    width: 8rem;
    filter: contrast(0.5);
}

.contenedor__tarjeta p{
    color: var(--primario);
    font-weight: bold;
    cursor: default;
}

@media (min-width: 1700px){
    #skill .contenedor__tarjeta{
        min-width: 25rem;
        min-height: 25rem;
    }
}

@media (max-width: 1100px){
    #skill .contenedor__tarjeta{
        min-width: 25rem;
        min-height: 25rem;
    }
}