@media (max-width: 1100px){
    
    header .contenedor__principal{
        width: 100%;
    }

    .contenedor__menu, .contenedor__menu ul{
        flex-direction: column;
        text-align: center;
    }

    .contenedor__menu p{
        display: none;
    }

    p{
        padding: 0;
    }

    .contenedor__principal{
        flex-direction: column-reverse;
    }

    .contenedor__texto{
        flex-direction: column-reverse;
        min-width: auto;
    }

    .contenedor__texto h1, h2{
        font-size: 1.9rem;
    }
    .contenedor__texto h2{
        font-size: 1.3rem!important;
    }

    .contenedor__redes ul{
        gap: 1rem;
        flex-direction: column;
    }

    .contenedor__redes{
        align-self: center;
    }

    .contenedor__redes a {
        flex-direction: column-reverse;
    }

    #foto__perfil{
        align-self: center;
    }

    .menu__link{
        justify-content: end;
        font-size: 0;
    }

    nav{
        background: var(--primario);
        padding: .6rem;
        border-radius: .5rem;
        opacity: 80%;
        position: fixed;
        top: 0rem;
        right: 0rem;
    }

    .nav__fixed{
        top: 0rem;
        right: 0rem;
    }

}