.contenedor__header{
    background-color: var(--primario);
    padding: 5rem;   
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}


.contenedor__header nav ul{
    display: flex;
    gap: 2rem;
}

.contenedor__menu{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
    align-content: center;
    align-items: center;
    min-width: auto;
    width: 100%;
}

.contenedor__principal{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.contenedor__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.contenedor__resumen h1{
    font-size: 4rem;
}
.contenedor__resumen h2{
    font-size: 2.3rem;
}

.contenedor__redes ul{
    display: flex;
    gap: 10rem;
}

.contenedor__redes a{
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 500ms ease-in all;
}

.contenedor__redes svg{
    width: 3rem;
    cursor: pointer;
    fill: var(--blanco);
    transition: 500ms ease-in all;
}

.contenedor__header a:hover svg{
    fill: var(--resaltar);
}

#foto-perfil{
    border-radius: 15rem;
    width: 30rem;
    height: 30rem;
}

.contenedor__principal__imagen{
    background: url("../../imagenes/perfil.jpg");
    width: 15rem;
    height: 15rem;
    border: .3rem solid var(--resaltar);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}