.contenedor__header{
    background-color: var(--primario);
    padding: 5rem;   
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}


.contenedor__header nav ul{
    display: flex;
    gap: 2rem;
}

.contenedor__menu{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
    align-content: center;
    align-items: center;
    min-width: auto;
    width: 100%;
}

.contenedor__principal{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.contenedor__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    max-width: 80%;
}

.contenedor__redes ul{
    display: flex;
    gap: 10rem;
}

.contenedor__redes a{
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 500ms ease-in all;
}

.contenedor__redes svg{
    width: 3rem;
    cursor: pointer;
    fill: var(--blanco);
    transition: 500ms ease-in all;
}

.contenedor__header a:hover svg{
    fill: var(--resaltar);
}

.contenedor__principal__imagen__cartoon{
    background: url("../../imagenes/perfilCartoon.jpg");
    width: 15rem;
    height: 15rem;
    border: .3rem solid var(--resaltar);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenedor__principal__imagen{
    background: url("../../imagenes/perfil.jpg");
    width: 15rem;
    height: 15rem;
    border: .3rem solid var(--resaltar);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 0px;
}

#imagen__perfil:hover{
    cursor: pointer;
}

.menu__link{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.nav__fixed{
    position: fixed;
    top: 2rem;
    right: 4rem;
    padding: .6rem;
    border-radius: .5rem;
    border: .2rem solid var(--resaltar);
    opacity: 80%;
    background: var(--primario);
}

@keyframes cartoontocommon {
    0%   {background: url("../../imagenes/perfilCartoon.jpg");background-size: 15rem; background-repeat: no-repeat;background-position: center}
    50%   {background: url("../../imagenes/perfilCartoon.jpg");background-size: 3000rem; background-repeat: no-repeat;background-position: center}
    50%  {background: url("../../imagenes/perfil.jpg");background-size: 3000rem; background-repeat: no-repeat;background-position: center}
    100% {background: url("../../imagenes/perfil.jpg");background-size: 15rem; background-repeat: no-repeat;background-position: center}
}

@keyframes commontocartoon {
    0%   {background: url("../../imagenes/perfil.jpg");background-size: 15rem; background-repeat: no-repeat;background-position: center}
    50%   {background: url("../../imagenes/perfil.jpg");background-size: 3000rem; background-repeat: no-repeat;background-position: center}
    50%  {background: url("../../imagenes/perfilCartoon.jpg");background-size: 3000rem; background-repeat: no-repeat;background-position: center}
    100% {background: url("../../imagenes/perfilCartoon.jpg");background-size: 15rem; background-repeat: no-repeat;background-position: center}
}
