@media (max-width: 1100px){
    
    header .contenedor__principal{
        width: 100%;
    }

    .contenedor__menu, .contenedor__menu ul{
        text-align: center;
    }

    p{
        padding: 0;
    }

    .contenedor__principal{
        flex-direction: column;
    }

    .contenedor__texto{
        flex-direction: column;
        min-width: auto;
    }

    .contenedor__menu ul li:not(:last-child){
        display: none;
    }

    .contenedor__redes ul{
        gap: 1rem;
    }

    .contenedor__redes{
        align-self: center;
    }

    #foto__perfil{
        align-self: center;
    }

}