@media (max-width: 1365px){
    #formacion .contenedor__tarjeta{
        max-width: 25rem;
        max-height: 25rem;
    }

    #formacion h4{
        font-size: 1rem;
    }

    #formacion h3{
        font-size: 1.2rem;
    }
}