#formacion .contenedor__header{
    background-color: var(--secundario);
}

#formacion .contenedor__header h2{
    text-align: center;
}

#formacion .contenedor__principal{
    justify-content: space-between;    
}

#formacion .contenedor__tarjeta{
    width: 30rem;
    height: 30rem;
}

#formacion svg{
    width: 80%;
    cursor: pointer;
}

#formacion h3{
    margin: 1rem 0;
    font-weight: bold;
}

#formacion h4{
    margin: 1rem 0;
    font-weight: bold;
}

#formacion h3, #formacion h4{
    text-align: center;
}

#formacion a:hover h3, h4{
    color: var(--blanco);
}