@media (max-width: 1100px){
    .contenedor__proyecto{
        flex-direction: column;
    }
    
    .contenedor__proyecto{
        gap: 0;
    }

    .contenedor__demo{
        width: 30rem;
        height: 20rem; 
    }

    .contenedor__demo img{
        width: 100%;
    }

    .contenedor__proyecto__info a{
        margin-bottom: 2rem;
        min-width: 25rem;
    }

    .contenedor__proyecto__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #proyecto .contenedor__proyecto__info h2{
        text-align: center;
    }

    #proyecto button{
        width: 100%;
    }   

    .slideshow-container{
        max-width: 20rem;
    }
}