#proyecto h2 {
    text-align: center;
}

#proyecto img {
    max-width: 50rem;
}

#proyecto .contenedor__proyecto__info h2,
h3 {
    text-align: left;
    margin: 2rem 0;
}

.contenedor__proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}


.contenedor__proyecto__info h2{
    font-size: var(--subTitulo);
    min-width: 30rem;
}



#proyecto button {
    cursor: pointer;
    background-color: transparent;
    margin-right: 1rem;
    width: 30%;
    height: 3rem;
    border: 0.2rem solid var(--resaltar);
    color: var(--blanco);
    transition: 1s ease-in-out all;
    border-radius: 0.5rem;
}


#proyecto button:hover {
    background-color: var(--resaltar);
    border: 0.2rem solid var(--resaltar);
}



/* Slide */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    position: relative;
    top: -20.5rem;
    cursor: pointer;
    width: auto;
    padding: 1.6rem;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */

  .prev{
    float: left;
    left: -8rem;
  }

  .next {
    float: right;
    right: -8rem;
    border-radius: 3px 0 0 3px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }