#hobbie .contenedor__header h2{
    text-align: center;
}

#hobbie .contenedor__principal{
    justify-content: center;  
    gap: 6rem;  
}

#hobbie .contenedor__tarjeta{
    min-width: 20rem;
    min-height: 20rem; 
}

@media (min-width: 1700px){
    #hobbie .contenedor__tarjeta{
        min-width: 25rem;
        min-height: 25rem;
    }
}

@media (max-width: 1100px){
    #hobbie .contenedor__tarjeta{
        min-width: 25rem;
        min-height: 25rem;
    }
}